<mat-toolbar style="height: 40px; position: fixed;">
  <div class="col-auto">
    <button type="submit" mat-raised-button color="primary" style="text-align: right;" (click)="ngEditDetails();">Edit Details</button>&nbsp;
    <button type="submit" mat-raised-button color="accent" style="text-align: right;" (click)="claimForm();">Submit Claim</button>&nbsp;&nbsp;
  </div>
    <div class="col-auto">
        <button mat-raised-button color="warn" (click)="logout();">Logout</button>
    </div>
</mat-toolbar>


<!--Member Details Table Section Started -->
<div class="container" *ngIf='searchMemberTable'>
    <div style="height: 40px;" ></div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

    <ng-container matColumnDef="memberId">
      <th  class="col-sm-1" mat-header-cell *matHeaderCellDef mat-sort-header>Member ID</th>
      <td  class="col-sm-1" mat-cell *matCellDef="let m">{{m.memberId}}
        <!--<input type="hidden" [(ngModel)]="setMemberId" value="{{m.memberId}}" >-->
      </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th class="col-sm-1" mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td class="col-sm-1" mat-cell *matCellDef="let m">{{m.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th class="col-sm-1" mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
      <td class="col-sm-1" mat-cell *matCellDef="let m">{{m.lastName}}</td>
    </ng-container>

    <ng-container matColumnDef="physician">
        <th  class="col-sm-1" mat-header-cell *matHeaderCellDef mat-sort-header>Physician</th>
        <td  class="col-sm-1" mat-cell *matCellDef="let m">{{m.physician}}</td>
      </ng-container>
  
      <ng-container matColumnDef="claimId">
        <th class="col-sm-1" mat-header-cell *matHeaderCellDef mat-sort-header>Claim Id</th>
        <td class="col-sm-1" mat-cell *matCellDef="let m">{{m.claimId}} </td>
      </ng-container>
  
      <ng-container matColumnDef="claimAmount">
        <th class="col-sm-1" mat-header-cell *matHeaderCellDef mat-sort-header>Claim Amount</th>
        <td class="col-sm-1" mat-cell *matCellDef="let m">{{m.claimAmount}}</td>
      </ng-container>

      <ng-container matColumnDef="submittedDate">
        <th class="col-sm-1" mat-header-cell *matHeaderCellDef mat-sort-header>Submitted Date</th>
        <td class="col-sm-1" mat-cell *matCellDef="let m">{{m.submittedDate}}</td>
      </ng-container>

      <!--
      <ng-container matColumnDef="submitClaim">
        <th class="col-sm-1" mat-header-cell  *matHeaderCellDef >Submit Claim</th>
        <td mat-cell *matCellDef="let m" class="col-sm-1"><button mat-raised-button color="primary" (click)="claimForm()" >Claim</button></td>
      </ng-container>
      -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  
  <mat-paginator class="col-sm-12" [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of Member List">
  </mat-paginator>
</div>
<!--Member Details Table Section Ended -->

<!-- Claim Submission Form Started -->
<div class="container"  *ngIf='addClaimForm'>
    <div style="height: 90px;" ></div>

    <div class="container col-md-4 divcard">
        <mat-card>
            <mat-card-title  class="member-card-title" style="text-align: center;">
                <h2>Claim Submission</h2>
            </mat-card-title>
                <mat-card-content>
                    <mat-card-title style="text-align: center;">
                        <h4><b>MEMBER ID: {{setMemberId}}</b></h4>
                    </mat-card-title>
                    <!--<form #findMemberForm="ngForm" (ngSubmit)="claimSubmit()">-->
                    <form [formGroup]="memberClaimForm" (ngSubmit)="claimSubmit()">
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Claim Type</mat-label>
                                    <mat-select [(value)]="claimTypeSelected" formControlName="claimType" required>
                                      <mat-option value="Vision">Vision</mat-option>
                                      <mat-option value="Dental">Dental</mat-option>
                                      <mat-option value="Medical">Medical</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Claim Amount</mat-label>
                                <input matInput type="number" placeholder="Claim Amount" formControlName="claimAmount" [(ngModel)]="claim.claimAmount">
                                <mat-error *ngIf="claimError('claimAmount', 'required')">Claim Amount is required.</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <input matInput placeholder="Claim Date" [matDatepicker]="picker1"
                                formControlName="claimDate" (click)="picker1.open()"  [(ngModel)]="claim.claimDate">
                                <mat-error *ngIf="claimError('claimDate', 'required')">Claim Amount is required.</mat-error>
                                <mat-error *ngIf="claimError('claimDate', 'validateClaimDate')">Claim Date should be greater than current date.</mat-error>
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Remarks</mat-label>
                                <input matInput type="text" placeholder="Remarks" formControlName="remarks" [(ngModel)]="claim.remarks">
                                <mat-error *ngIf="claimError('remarks', 'required')">Remarks should be less and equal to 1000 Characters.</mat-error>
                            </mat-form-field>
                        </div>
                    
                        <button mat-raised-button color="primary">Submit Claim</button>&nbsp;
                        <button mat-raised-button color="warn" (click)="cancel();">Cancel</button>&nbsp;
                        <button type="button" mat-raised-button (click)="clearClaimForm();">Clear</button>
                    </form>
                  </mat-card-content>
        </mat-card>
    </div>
</div>
<!-- Claim Submission Form Ended -->

<!-- Edit Member Section Started -->
<div class="container" *ngIf='editMember'>
  <div style="height: 90px;" ></div>

  <div class="container col-md-6 divcard">
      <mat-card>
          <mat-card-title  class="member-card-title" style="text-align: center;">
              <h2>Member Registration</h2>
          </mat-card-title>
        <mat-card-content>
          <form [formGroup]="updateMemberForm" (ngSubmit)="editMemberForm()">
              <div class="row">
                  <div class="col-md-6">
                      <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>First Name</mat-label>
                          <input matInput type="text" placeholder="First Name" formControlName="firstName" [(ngModel)]="member.firstName">
                          <mat-error *ngIf="myError('firstName', 'required')">First Name is required.</mat-error>
                          <mat-error *ngIf="myError('firstName', 'minlength')">Should be Minimum 5 Characters</mat-error>
                          <mat-error *ngIf="myError('firstName', 'maxlength')">Should be Maximum 20 Characters</mat-error>
                      </mat-form-field>
                  </div>
                  <div class="col-md-6">
                      <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Last Name</mat-label>
                          <input matInput type="text" placeholder="Last Name" formControlName="lastName" [(ngModel)]="member.lastName">
                          <mat-error *ngIf="myError('lastName', 'required')">Last Name is required.</mat-error>
                          <mat-error *ngIf="myError('lastName', 'minlength')">Should be Minimum 5 Characters</mat-error>
                          <mat-error *ngIf="myError('lastName', 'maxlength')">Should be Maximum 20 Characters</mat-error>
                      </mat-form-field>
                  </div>
              </div>
              
              <!--
              <div class="row">
                  <div class="col-md-6">
                      <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Username</mat-label>
                          <input matInput type="text" placeholder="Username" name="userName" [(ngModel)]="member.userName" required>
                          </mat-form-field>
                  </div>
                  <div class="col-md-6">
                      <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Password</mat-label>
                          <input matInput type="password" placeholder="Password" name="passWord" [(ngModel)]="member.passWord" required>
                      </mat-form-field>
                  </div>
              </div>
              -->

              <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Address</mat-label>
                  <input matInput type="text" placeholder="Address" formControlName="address" [(ngModel)]="member.address">
                  <mat-error *ngIf="myError('address', 'required')">Address is required.</mat-error>
                  <mat-error *ngIf="myError('address', 'minlength')">Should be Minimum 10 Characters.</mat-error>
                  <mat-error *ngIf="myError('address', 'maxlength')">Should be Maximum 100 Characters.</mat-error>
                </mat-form-field>
              

              <div class="row">
                  <div class="col-md-6">
                      <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>State</mat-label>
                          <input matInput type="text" placeholder="State" formControlName="state" [(ngModel)]="member.state">
                          <mat-error *ngIf="myError('state', 'required')">State is required.</mat-error>
                      </mat-form-field>
                  </div>
                  <div class="col-md-6">
                      <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>City</mat-label>
                          <input matInput type="text" placeholder="City" formControlName="city" [(ngModel)]="member.city">
                          <mat-error *ngIf="myError('city', 'required')">City is required.</mat-error>
                      </mat-form-field>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-6">
                      <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Email</mat-label>
                          <input matInput type="text" placeholder="Email" formControlName="email" [(ngModel)]="member.email">
                          <mat-error *ngIf="myError('email', 'required')">Email is required.</mat-error>
                          <mat-error *ngIf="myError('email', 'email')">Invalid Email.</mat-error>
                          <mat-error *ngIf="myError('email', 'isEmailExist')">Email already present.</mat-error>
                      </mat-form-field>
                  </div>
                  <div class="col-md-6">
                      <mat-form-field class="example-full-width" appearance="outline">
                          <input matInput placeholder="Date of Birth" [matDatepicker]="picker1"
                          formControlName="dob" id="dob" (click)="picker1.open()" [(ngModel)]="member.dob">
                          <mat-error *ngIf="myError('dob', 'required')">Date of Birth is required.</mat-error>
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                  </div>
              </div>
          
              <button type="submit" mat-raised-button color="primary">Update</button>&nbsp;
              <button mat-raised-button color="warn" (click)="cancel();">Cancel</button>
          </form>
        </mat-card-content>
      </mat-card>
    
  </div>
</div>
<!--Edit Member Section Ended -->